@import '../config';

.next-form {
  .name {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    span {
      font-weight: bold;
    }
  }
  .form-field {
    margin: 20px auto;
    width: 350px;
    input {
      width: 95%;
    }
  }
  .form-check {
    width: 350px;
    text-align: center;
    margin: 5px auto;
    padding: 15px;
    border: $border;
  }
}

.button {
  text-align: center;
  margin: 10px;
}
