@import './config';

.language-box {
  cursor: pointer;
  div {
    background: $bg_form;
    margin: 10px;
    padding: 5px;
    width: 40px;
    height: 30px;
    img {
      width: 100%;
      height: 20px;
    }
  }
}
.langue {
  position: absolute;
  top: 105px;
  right: 20px;
  div {
    background: $bg_form;
    margin: 10px;
    padding: 5px;
    width: 40px;
    height: 30px;
    img {
      width: 100%;
      height: 20px;
    }
    &:nth-child(1) {
      animation: mymove 0.4s;
    }
    &:nth-child(2) {
      animation: mymove 0.6s;
    }
    &:nth-child(3) {
      animation: mymove 0.8s;
    }
  }
}
@keyframes mymove {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home-big-box {
  display: flex;
  .left-menu {
    margin-top: 20px;
    background: $bg_form;
    text-align: center;
    .link-menu {
      position: relative;
      width: 280px;
      padding: 10px 0;
      border-bottom: 1px solid #000;
      margin: 10px;
      background: $main_theme_color;
      a {
        img,
        svg {
          position: absolute;
          left: 6px;
          top: 7px;
          width: 30px;
          height: 30px;
        }
        padding: 10px 59px;
      }
    }
  }
}
.home-page {
  width: 100%;
  min-height: 77.3vh;
  // padding: 25px;
}
